<p style="color: green"><%= notice %></p>

<% content_for :title, "Lists" %>

<h1>Stuff To Do</h1>

<div id="lists">
  <% @lists.each do |list| %>
    <%= render list %>
    <p>
      <%= link_to "Show this task", list %>
    </p>
  <% end %>
</div>

<%= link_to "New task", new_list_path %>
